<div class="container">
    <div class="row">
        <div class="col-md-6">
            <%= image_tag "https://image.tmdb.org/t/p/w1280#{@movie.image}", class: 'img-fluid'%>
        </div>
        <div class="col-md-6">
            <%# Tmdb-APIによって送られた情報を全て表示する %>
            <%#= @movieinfo.inspect %>
            <h2><%= @movie.title %></h2>
            <div class="published">
                <h4>公開日/<%= @movie.published %></h4>
            </div>
            <div class="overview">
                <%= @movie.overview %>
            </div>
            <div class="genres mt-3">
                <h3>ジャンル</h3>
                <ul>
                    <% @movie.genres.each do |genre| %>
                    
                        <li><%= genre.name %></li>
                    <% end %>
                </ul>
            </div>
            <%= link_to 'Review', new_review_path(movie_id: @movie.id) %>
            <div class="genres mt-3">
                <h3>レビュー</h3>
                <ul>
                    <% @movie.reviews.each do |review| %>
                    
                        <li><%= review.review_contents %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>