<script src="/raty.js">
</script>
<div class="container">
    <h2><%= @movie.title %></h2>
    <%= form_with model: @review, path: reviews_path, method: :post do |f| %>
        <%= f.hidden_field :movie_id, value: params[:movie_id] %>
        <div class="form-group">
            <%= f.label :review_contents %>
            <%= f.text_area :review_contents, rows: 5, class: 'form-control' %>
        </div>
        <div class="form-group">
         <div class="field" id="star">
           <%= f.label :rate, "星評価：" %>
           <%= f.hidden_field :rate, id: :review_star %>
           <script>
             new Raty(document.querySelector('#star'), {
               size     : 36,
               starOff:  '<%= asset_path('star-off.png') %>',
               starOn : '<%= asset_path('star-on.png') %>',
               scoreName: 'review[star]',
             })
           </script>
         </div>
        </div>
        <div class="form-group">
            <%= f.submit 'レビューする', class: 'btn btn-primary' %>
        </div>
    <% end %>
</div>