<div class="container ">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
       <h2>レビュー</h2>
       <table class="table">
        <tbody>
         <tr>
          <td><%#= link_to movie_path(@review.movie_id) do %>
              <%= @review.movie.title %>
              <%# end %>
          </td>
          <td><%= @review.review_contents %></td>
          <td>
           <span id="star-rate-<%= post.id %>"></span>
           <script>
              $('#star-rate-<%= post.id %>').raty({
              size: 36,
              starOff: "<%= asset_path('star-off.png') %>",
              starOn: "<%= asset_path('star-on.png') %>",
              readOnly: true,   # 読み取り専用
              score: <%= post.evaluation %>,   # 星評価の表示
              });
           </script>
          </td>
          <%# binding.pry%>
           <% if @user == current_user.id %>
             <td><%= link_to "Edit", edit_review_path(@review.id), class:"btn btn-sm btn-success" %></td>
             <td><%= link_to "Destroy", review_path,method: :delete, "data-confirm" =>"本当に消しますか?", class:"btn btn-sm btn-danger" %></td>
           <% end %>
         </tr>
        </tbody>
       </table>
      </div>
  </div>
</div>