<div class="container ">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
       <h2>レビュー</h2>
       <table class="table">
        <tbody>
         <tr>
          <td><%#= link_to movie_path(@review.movie_id) do %>
              <%= @review.movie.title %>
              <%# end %>
          </td>
          <td><%= @review.review_contents %></td>

          <%# binding.pry%>
           <% if @user == current_user.id %>
             <td><%= link_to "Edit", edit_review_path(@review.id), class:"btn btn-sm btn-success" %></td>
             <td><%= link_to "Destroy", review_path,method: :delete, "data-confirm" =>"本当に消しますか?", class:"btn btn-sm btn-danger" %></td>
           <% end %>
         </tr>
        </tbody>
       </table>
       <li><%= link_to 'コメントする, new_comment_path %></li>
      </div>
  </div>
</div>