
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
        <label for="user_name">名前</label>
         <div class>
             <%= @user.name %>
         </div>
         <label for="email">メールアドレス</label>
         <div class>
             <%= @user.email %>
         </div>
         <label for="user_introduction">ひとこと。</label>
         <div class>
             <%= @user.introduction %>
         </div>
         
         <label for="review"></label>
         <table class>
            <thead>
              <tr>
                <th>Review</th>
              </tr>
            </thead>
            <% @reviews.each do |review| %>
            <tbody>
            <td>
                <%= link_to review_path(review.id) do %>
                <%= review.movie.title %>
                <% end %>
            </td>
            </tbody>
            <% end %>
         </table>
         <%= link_to "編集", edit_path, class:"btn btn-sm btn-success" %>
         <%#= link_to "退会", unsubscribe_path,method: :get,class:"btn btn-danger" %>
    </div>
  </div>
</div>

    
