
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <div class="header"><%= image_tag "mypagelogo",class: "img-fluid" %>
         <h2>マイページ</h2>
      </div>
        <label for="user_name">名前</label>
         <div class>
             <%= @user.name %>
         </div>
         <label for="email"><i class="fad fa-ticket"></i>メールアドレス</label>
         <div class>
             <%= @user.email %>
         </div>
         <label for="user_introduction"><i class="fad fa-ticket"></i>ひとこと。</label>
         <div class>
             <%= @user.introduction %>
         </div>
         
         <label for="review"><i class="fad fa-ticket"></i>レビュー</label>
         <table class>
            <thead>
              <tr>
                <th>映画タイトル</th>
                <th>レビュー内容</th>
                <th></th>
              </tr>
            </thead>
            <% @reviews.each do |review| %>
            <tbody>
            <td><%= review.movie.title %></td>
            <td><%= review.review_contents %></td>
            <td><%= link_to edit_review_path(review.id) do %>
                <i class="fas fa-wrench"></i>
                <% end %>
            </td>
            <% end %>
         </table>
         <%= link_to "編集", user_edit_path(@user), class:"btn btn-sm btn-success" %>
         <%= link_to "退会", unsubscribe_path,method: :get,class:"btn btn-sm btn-danger" %>
    </div>
  </div>
</div>

    
